<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR App</title>
</head>
<body>
    <h1>Upload Image for OCR</h1>
    <h2> 使用手機攝像頭拍照或選擇圖片</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_image">Upload Image:</label>
        <input type="file" name="image" id="id_image">
        <button type="submit">Upload Image</button>
    </form>

    {% if lightness %}
    <p>{{ lightness }}</p>   
    {% endif %}

    {% if extracted_text %}
    

        <h2>Extracted Text</h2>
        <p>{{ extracted_text|linebreaks }}</p>
    {% endif %}
</body>
</html>
